<div class="container-dialog">
  <h2 class="subtitle">{{ data.funcionality }} Vehiculo</h2>
  <form [formGroup]="formDialogGroup">
    <mat-form-field class="form-input-all" appearance="fill">
      <mat-label>Placa</mat-label>
      <input
        matInput
        type="text"
        formControlName="placa"
        cdkFocusInitial
        required
      />
      <mat-error>{{ getErrorMessage("placa") }}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-input-all" appearance="fill">
      <mat-label>Fecha Tarjeta Operación</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fecha_tarjeta_op" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>{{ getErrorMessage("fecha_tarjeta_op") }}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-input-all" appearance="fill">
      <mat-label>Fecha Soat</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="fecha_soat" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-error>{{ getErrorMessage("fecha_soat") }}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-input-all" appearance="fill">
      <mat-label>Cilindraje</mat-label>
      <input
        matInput
        type="number"
        formControlName="cilindraje"
        cdkFocusInitial
        required
      />
      <mat-error>{{ getErrorMessage("cilindraje") }}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-input-all" appearance="fill">
      <mat-label>Capacidad</mat-label>
      <input
        matInput
        type="number"
        formControlName="capacidad"
        cdkFocusInitial
        required
      />
      <mat-error>{{ getErrorMessage("capacidad") }}</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="submitAccess()">
      {{ vehicleUpdating ? "Actualizar" : "Crear" }}
    </button>
  </form>
</div>
