.container-dialog {
    padding: 10px;
}
.subtitle {
    text-align: center;
    margin-bottom: 10;
    padding: 0;
}
h4 {
    width: 100%;
    margin: 0;
    padding: 0;
}

.form-antenna {
    width: 100%;
    background: red;
}

.container-dialog form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.form-input {
    padding: 0;
}

.form-input-all {
    width: 37rem;
}