.container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.children-card {
    max-width: 200px;
}

.btn-card-view {
    width: 100%;
}

.miniature-card-view {
    max-height: 200px;
    overflow: hidden;
}
.miniature-card-view img {
    width: 100%;
    height: auto;
    max-height: 200px;
}

.container-map {
    height: 600px;
}


.form-travel {
    width: 100%;
}
.btn-spand-travel {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
.btn-spand-travel h2 {
    padding: 0;
    margin: 0;
}

.form-container-travel {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.form-input {
    padding: 0;
}

.form-input-all {
    width: 40%;
}

.text-area-input {
    width: 75%;
}

.container-site-work {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
}

.container-mapa-main {
    flex-grow: 6;
    height: 85%;
}

.container-panel-task {
    max-width: 30%;
    flex-grow: 2;
    max-height: 85%;
    overflow: auto;
    padding: 10px;
}

.card-item-travel {
    
}