<div class="container-map">
  <div class="form-travel" *ngIf="!isPropietario">
    <button
      mat-raised-button
      color="primary"
      class="btn-spand-travel"
      (click)="showFormTravelHanddler()"
    >
      <h2>Pedir un Viaje</h2>
    </button>
    <form
      class="form-container-travel"
      [formGroup]="formTravelGroup"
      *ngIf="showFormTravel"
    >
      <mat-form-field class="text-area-input" appearance="fill">
        <mat-label>Comentario</mat-label>
        <textarea
          matInput
          formControlName="comment"
          required
          rows="4"
        ></textarea>
        <mat-error>{{ getErrorMessage("comment") }}</mat-error>
      </mat-form-field>
      <button mat-fab color="warn" type="button" (click)="sendCreateTravel()">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
  <div class="container-site-work">
    <div class="container-mapa-main">
      <app-map-screen
        (selectedPoitns)="selectedPoitnsHanddler($event)"
      ></app-map-screen>
    </div>
    <div *ngIf="isPropietario" class="container-panel-task">
      <div class="" *ngFor="let data of travel.listTravelAll">
        <mat-card class="card-item-travel">
          <mat-card-subtitle>{{ data.data_init }}</mat-card-subtitle>
          <mat-card-content>
            <p>{{ data.comment }}</p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="setValuesForMap(data.location_init, data.location_end)">
              Mostrar en el Mapa
            </button>
            <button mat-raised-button color="accent" (click)="acceptCar(data)">Aceptar</button>
          </mat-card-actions>
        </mat-card>
        <br />
      </div>
    </div>
  </div>
</div>
