<main>
  <button mat-raised-button color="primary" (click)="openDialogAccess('Crear')">Nueva Funcionalidad / Permisos</button>
  <mat-tab-group>
    <mat-tab *ngFor="let roles of rolesList" label="{{ roles.name }}">
      <ng-template matTabContent>
        <h4 class="subtitle">{{ roles.description }}</h4>
        <div class="container-childres-tabs">
          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Permisos">
              <div *ngIf="pagesListFront">
                <div class="button-save">
                  <button mat-fab color="warn" (click)="saveSelectCheck(roles._id)"><mat-icon>save</mat-icon></button>
                </div>
                <table
                  mat-table
                  [dataSource]="dataSorceFront"
                  class="mat-elevation-z8 table-antenna"
                >
                  <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef>No</th>
                    <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.name }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="method">
                    <th mat-header-cell *matHeaderCellDef>Metodo</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.method }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="checked">
                    <th mat-header-cell *matHeaderCellDef>Seleccionado</th>
                    <td mat-cell *matCellDef="let element">
                      <input type="checkbox" [checked]="renderSelectCheckbox(roles.toFront, element)" id="{{ roles._id + element._id }}" />
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef>Editar</th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-button (click)="openDialogAccess('Actualizar', element)"><mat-icon>edit</mat-icon></button>
                    </td>
                  </ng-container>
                  <tr
                    mat-header-row
                    *matHeaderRowDef="displayedColumnsAll"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="
                      let row;
                      columns: displayedColumnsAll;
                      let i = index
                    "
                  ></tr>
                </table>
              </div>
              <h2
                *ngIf="!pagesListFront"
                style="text-align: center; margin-top: 10px"
              >
                No hay nada, Registra Una!
              </h2>
            </mat-tab>
            <mat-tab label="Funcionalidad">
              <div *ngIf="pagesListBack">
                <div class="button-save">
                  <button mat-fab color="warn" (click)="saveSelectCheck(roles._id, true)"><mat-icon>save</mat-icon></button>
                </div>
                <table
                  mat-table
                  [dataSource]="dataSorceBack"
                  class="mat-elevation-z8 table-antenna"
                  matSort
                >
                  <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef>No</th>
                    <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.name }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="method">
                    <th mat-header-cell *matHeaderCellDef>Metodo</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.method }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="checked">
                    <th mat-header-cell *matHeaderCellDef>Seleccionado</th>
                    <td mat-cell *matCellDef="let element">
                      <input type="checkbox" [checked]="renderSelectCheckbox(roles.toBack, element)" id="{{ roles._id + element._id }}" />
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef>Editar</th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-button (click)="openDialogAccess('Actualizar', element)"><mat-icon>edit</mat-icon></button>
                    </td>
                  </ng-container>
                  <tr
                    mat-header-row
                    *matHeaderRowDef="displayedColumnsAll"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="
                      let row;
                      columns: displayedColumnsAll;
                      let i = index
                    "
                  ></tr>
                </table>
              </div>
              <h2
                *ngIf="!pagesListBack"
                style="text-align: center; margin-top: 10px"
              >
                No hay nada, Registra Una!
              </h2>
            </mat-tab>
          </mat-tab-group>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</main>
