.container-childres-tabs {
    margin: 10px;
}
.subtitle {
    margin: 0;
    padding: 0;
}

.container-antenna {
    width: 100%;
}

.container-table-antenna {
    margin-top: 10px;
    overflow: auto;
}

.container-actions {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.children-actions {
    flex-grow: 4;
}

.table-antenna {
    width: 100%;
}

th, td {
    text-align: center!important;
}

.button-save {
    text-align: right;
    margin: 10px;
}